@import url('reset.css');
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* ------------------ LAYOUT ------------------ */
.container{
    width: 1296px;
    margin: 0 auto;
}
.DN{
    display: none;
}

/* ------------------ TYPOGRAPHY ------------------ */
body{
    font: 18px 'Noto Sans KR', sans-serif;
    color: #211f20;
    font-weight: 400;
}
h2, .facilities .title{
    font-size: 32px;
    font-weight: 500;
}
.reservation button, .event_title, h3, .facilities li:not(li:first-child), .attraction p, .rewards p{
    font-size: 22px;
    font-weight: 500;
}
.top_menu, .reservation label, .reservation span, .events li p:last-child, .footer_content{
    font-size: 16px;
}

.reservation .hide{
    font-size: 12px;
}
/* ------------------ HEADER ------------------ */
body > header .header{
    background: rgba(196, 177, 150, .8);
}
body > header .container{
    display: flex;
    justify-content: space-between;
}
.top_menu {
    display: flex;
}
.top_menu_left{
    display: flex;
}
.top_menu_right{
    display: flex;
}
.top_menu_left{
    display: flex;
}
.main_nav{
    display: flex;
    margin-top: 50px;
}
.main_menu {
    display: flex;
}
.main_menu li ul{
    display: none;
}
/* ------------------ MAIN PAGE ------------------ */
.reservation {
    background: rgba(226,218,207,.95);
}
.reservation .container{
    display: flex;
}
.reservation .reservation_search{
    width: 18px;
} 
.reservation .reservation_search svg{
    width: 100%;
}
.reservation .hide{
    width: 12px;
}
.reservation .hide svg{
    width: 100%;
}