@import url('reset.css');
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* ------------------ LAYOUT ------------------ */
.container{
    width: 1296px;
    margin: 0 auto;
}
/* ------------------ TYPOGRAPHY ------------------ */
body{
    font: 18px 'Noto Sans KR', sans-serif;
    color: #211f20;
    font-weight: 400;
}
h2, .facilities .facilities_title{
    font-size: 32px;
    font-weight: 500;
}
.reservation button, .event_title, h3, .facilities, .attraction p, .rewards p{
    font-size: 22px;
    font-weight: 500;
}
.top_menu, .reservation label, .reservation span, .events li p:last-child, .footer_content{
    font-size: 16px;
}

.reservation .hide{
    font-size: 12px;
}
/* ------------------ HEADER ------------------ */
h1 a{
    text-indent: -9999em;
    display: block;
    width: 210px;
    height: 90px;
    background: url(../images/logo-ghm.png) no-repeat;
}
body > header{
    background: rgba(196, 177, 150, .8);
    padding-top: 10px;
    width: 100%;
    height: 100%;
}
body > header .container{
    display: flex;
    justify-content: space-between;
}
.top_menu {
    display: flex;
    justify-content: flex-end;
}
.top_menu svg{
    width: 14px;
}
.top_menu_left{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.top_menu_right{
    display: flex;
    justify-content: space-between;
    width: 285px;
}
.rewards_link{
    background: #f18847;
    width: 84px;
    height: 23px;
    margin-left: 20px;
}
.rewards_link a{
    color: #fff;
    text-align: center;
    margin-left: 5px;
}
#language{
    border: none;
    appearance: none;
}
.main_nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.main_menu{
    display: flex;
    width: 576px;
    justify-content: space-between;
}
.main_menu li a:hover{
    color: #fc6000;
}
.main_menu li ul{
    display: none;
}
.main_nav > a{
    width: 114px;
    height: 40px;
    background: rgba(120, 108, 92, .7);
    text-align: center;
    color: #fff;
    margin-left:107px;
}
.main_nav > a p{
    width: 114px;
    height: 40px;
    margin: 6px 0 0 2px;
}
.main_nav svg{
    width: 18px;
    height: 18px;
    fill: #fff;
    padding-left: 10px;
}
/* ------------------ MAIN PAGE ------------------ */
.reservation {
    background: rgba(226,218,207,.95);
    display: none;
    height: 137px;
}
.reservation .container{    
    display: flex;

}
.reservation .reservation_search svg{
    width: 18px;
}
.reservation .hide svg{
    width: 12px;
}
.mainslides {
    width: 100%;
    height: 600px;
}
.slide1 {
    width: 100%;
    height: 600px;
    background: url(../images/mainslide1.jpg) no-repeat center;
    text-indent: -9990em;
} 
.slide2 {
    text-indent: -9990em;
} 
.slide3 {
    text-indent: -9990em;
}
.events{
    padding: 164px 0 172px 0;
}
.events_wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}
.events_wrapper li{
    width: 350px;
    height: 350px;
}
.events_wrapper div:hover:after{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background:rgba(0,0,0,.5);
}
.events_wrapper .event1{
    background: url(../images/event1.png) no-repeat;
    width: 350px;
    height: 350px;
}
.events_wrapper .event2{
    background: url(../images/event2.png) no-repeat;
    width: 350px;
    height: 350px;
}
.events_wrapper .event3{
    background: url(../images/event3.png) no-repeat;
    width: 350px;
    height: 350px;
}
.events_wrapper li a{
    display: none;
}
.events_wrapper li div:hover a{
    position: absolute;
    width: 350px;
    height: 350px;
    display: block;
    color: #fff;
    z-index: 1;
    text-align: center;
    padding-top: 75px;
}
.events_wrapper li div:hover p{
    padding-bottom: 20px;
}
.rooms{
    width: 100%;
    height: 830px;
    background: url(../images/standard.jpg) no-repeat center center / 100% 830px;
    position: relative;
    z-index: 1;
    margin-bottom: 187px;
}
.rooms:before {
    content: '';
    position: absolute;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index:-10;
}
.room_wrapper{
    padding: 0 200px 0 200px;
}
.room_wrapper li{
    width: 307px;
    margin-right: 90px;
    color: #b1b1b1;
}
.room_wrapper li:last-child{
    margin-right: 0px;
}
.rooms ul{
    display: flex;
}
.rooms h2{
    padding: 65px 0 65px 0;
    color: #fff;
}
.rooms li:before{
    content: '';
    position: absolute;
    width: 307px;
    height: 1px;
    border-bottom: #b1b1b1 solid 1px;
}
.rooms h3{
    padding: 30px 0 65px 0;
}
.room_wrapper li p{
    padding-bottom: 77px;
}
.room_wrapper li a{
    color: #b1b1b1;
    border: #b1b1b1 solid 1px;
    padding: 1px 12px 5px 12px;
}
.rooms li:hover{
    color: #fff;
}
.rooms li:hover:before{
    border-bottom: #fff solid 1px;
}
.room_wrapper li:hover a{
    color: #fff;
    border: #fff solid 1px;
    padding: 1px 12px 5px 12px;
}
.facilities{
    width: 100%;
    height: 830px;
    background: url(../images/facilities1.jpg) no-repeat 100% 100% / 100% 100%;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 178px;
}
.facilities:before {
    content: '';
    position: absolute;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 830px;
    z-index: -1;
}
.facilities .container{
    width: 550px;
    height: 350px;
}
.facilities_top{
    display: flex;
    justify-content: space-between;
    padding: 370px 0 30px 0;
}
.facilities_bottom{
    display: flex;
    justify-content: space-between;
}
.facilities li{
    width: 150px;
    height: 150px;
    border: #fff solid 5px;
    text-align: center;
}
.facilities li:hover:not(.facilities_title){
    border: #f18847 solid 5px;
}
.facilities li:hover a{
    color: #f18847;
}
.facilities .facilities_title p{
    padding-top: 52px;
}
.facilities li p{
    padding-top: 40px;
}
.facilities_top li:nth-child(2) p{
    padding-top: 57px;
}
.facilities_top li:nth-child(3) p{
    padding-top: 28px;
}
.facilities a{
    color: #fff;
}
.attraction{
    margin-bottom: 164px;
}
.attraction p {
    padding-top: 20px;
}
.attraction1 div, .attraction2 div{
    margin-top: 53px;
}
.attraction1, .attraction2{
    display: flex;
    justify-content: space-between;
}
.attraction1 div{
    margin-right: 284px;
}
.attraction1 div h2:after{
    content: '';
    position: absolute;
    width: 460px;
    height: 5px;
    background: rgba(196, 177, 150, .5);
    margin: 20px 0 0 43px;
}
.attraction2 div h2{
    margin-left: 274px;
}
.attraction2:before{
    content: '';
    position: absolute;
    width: 366px;
    height: 5px;
    background: rgba(196, 177, 150, .5);
    margin: 74px 43px 0 0;
}
.attraction2 img{
    order: 2;
}
.attraction2 div{
    order: 1;
    margin-left: 136px;
}
.rewards{
    display: flex;
    margin-bottom: 243px;
    background: #f3f3f2;
    width: 100%;
    height: 370px;
}
.rewards .container{
    margin-top: 53px;
    display: flex;
}
.rewards h2{
    padding-bottom: 12px;
    border-bottom: #787871 solid 1px;
    display: inline;
}
.rewards p{
    margin-top: 65px;
    line-height: 48px;
}

.rewards_content{
    margin-right: 300px;
}
.rewards img{
    width: 263px;
    height: 168px;
    padding-top: 85px;
}
footer{
    background: #f0ece7;
    height: 100%;
    width: 100%;
}
footer .container h1 {
    margin: 83px 118px 0 0;
}
footer .container{
    display: flex;
}
.footer_menu ul{
    display: flex;
    width: 840px;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}
.footer_menu ul:after {
    content: '';
    position: absolute;
    width: 940px;
    height: 1px;
    background: rgba(60, 60, 60, .05);
    margin-top: 50px;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 35px 0;
}
.footer_content address p, .footer_content address span{
    margin-bottom: 10px;
}
.footer_content .tel span:first-child{
    margin-right: 57px;
}
.footer_content .tel span:last-child{
    margin-bottom: 0;
}
.sns{
    display: flex;
    margin: 30px 0 0 320px;
    width: 130px;
    justify-content: space-between;
}
.sns svg:hover{
    fill: #fc6000;
}
.sns svg{
    width: 18px;
    height: 18px;
}
/* ------------------ SUBPAGE ------------------ */
.subpages_title{
    padding: 110px 0 25px 0;
    border-bottom: #e2dacf solid 10px;
    margin-bottom: 50px;
    display: flex;
}
/* ------------------ ACCOMMODATION ------------------ */
#accomodation_title h2{
    padding-right: 30px;
}
#accomodation_title h2:first-child:after{
    content: '';
    position: absolute;
    width: 3px;
    height: 36px;
    background: #211f20;
    margin-left: 29px;
    margin-top: 6px;
}
#accomodation_title h2:last-child{
    padding-left: 30px;
}